{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended"
	],
	"env": {
		"browser": true,
		"es2020": true,
		"node": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"ignorePatterns": ["node_modules/", "build/", "out/"],
	"rules": {
		"eol-last": [
			2,
			"always"
		],
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-trailing-spaces": 2,
		"no-var": 2,
		"prefer-const": 2,
		"quotes": [
			2,
			"single",
			{
				"allowTemplateLiterals": true
			}
		],
		"react-hooks/exhaustive-deps": 1,
		"react-hooks/rules-of-hooks": 2,
		"semi": [
			2,
			"never"
		],
		"react/prop-types": [0]
	}
}
